 * {
     margin: 0;
     padding: 0;
 }
 body {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 87.5%;
     width: 650px;
     margin: 0 auto;
     border: 3px solid blue;
     padding: 15px 25px;
 }
 h1 { 
     font-size: 150%;
 }
 h2 {
     font-size: 120%;
     padding-top: .25em;
	 padding-bottom: 0; 
	 padding-right: .25em; 
	 padding-left: 25px;
     cursor: pointer;
     background: url(plus.png) no-repeat left center;
 }
 h2.minus {
     background: url(minus.png) no-repeat left center;
 }
 a {
     color: black;
     text-decoration: none; 
 }
 a:focus, a:hover { color: blue; }

 div {
     display: none;
 }
 div.open {
     display: block;
 }
 ul {
     padding-left: 45px;
 }
 li {
     padding-bottom: .25em;
 }
 p {
     padding-bottom: .25em;
     padding-left: 25px;
 }

 #task { 
     margin-top: 0;
	 float: right;
 }