a { color: black; 
    text-decoration: none; }

a:focus, a:hover { color: blue; }

h2 { cursor: pointer; 
     background: url(images/plus.png) no-repeat left center; }

h2.minus { background: url(images/plus.png) no-repeat left center; }

div { display: none; }

div.open { display: block; }

 	 